<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sertevisa-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://sertevisa-001-site1.htempurl.com:8172/msdeploy.axd?site=sertevisa-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>sertevisa-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\sertevisa-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MVC.Contexto.ModeloContexto" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVC.Contexto.ModeloContexto, MVC" MigrationConfiguration="MVC.Migrations.Configuration, MVC" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConexion" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Source=SQL7001.site4now.net;Initial Catalog=Sertevisa;User Id=DB_A2DDE7_Sertevisa_admin; Password=Sertevisa123;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConexion_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Source=SQL7001.site4now.net;Initial Catalog=Sertevisa;User Id=DB_A2DDE7_Sertevisa_admin; Password=Sertevisa123;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConexion-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MVC.Contexto.ModeloContexto-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MVC.Contexto.ModeloContexto" />
  </ItemGroup>
</Project>